
.monokai {
    --background-1: #222222;
    --background-2: #191919;
    --background-3: #363636;

    --border-1: #191919;
    --border-selected: #525252;

    --separator-1: #2E2E2E;

    --highlight-1: #2E2E2E;

    --font-highlight: #EFEFEF;
    --font-default: #9E9E9E ;

    --primary-1: #EEE55F;
}